WCFService/Connected Services/MachineEyes/MachineEyesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://103.53.45.114:3128/MachineEyesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MachineEyesCore" />
  <xs:complexType name="ArrayOfKeyValueOfstringLoomCollectiveInfoAsObXm80">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringLoomCollectiveInfoAsObXm80">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MachineEyesCore" name="Value" nillable="true" type="q1:LoomCollectiveInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringLoomCollectiveInfoAsObXm80" nillable="true" type="tns:ArrayOfKeyValueOfstringLoomCollectiveInfoAsObXm80" />
  <xs:complexType name="ArrayOfKeyValueOfstringLoomSumUpInfoAsObXm80">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringLoomSumUpInfoAsObXm80">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MachineEyesCore" name="Value" nillable="true" type="q2:LoomSumUpInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringLoomSumUpInfoAsObXm80" nillable="true" type="tns:ArrayOfKeyValueOfstringLoomSumUpInfoAsObXm80" />
  <xs:complexType name="ArrayOfKeyValueOfstringloomcurrentParamsAsObXm80">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringloomcurrentParamsAsObXm80">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MachineEyesCore" name="Value" nillable="true" type="q3:loomcurrentParams" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringloomcurrentParamsAsObXm80" nillable="true" type="tns:ArrayOfKeyValueOfstringloomcurrentParamsAsObXm80" />
  <xs:complexType name="ArrayOfKeyValueOfstringloomShiftParamsAsObXm80">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringloomShiftParamsAsObXm80">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MachineEyesCore" name="Value" nillable="true" type="q4:loomShiftParams" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringloomShiftParamsAsObXm80" nillable="true" type="tns:ArrayOfKeyValueOfstringloomShiftParamsAsObXm80" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfintAlertAsObXm80">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintAlertAsObXm80">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MachineEyesCore" name="Value" nillable="true" type="q5:Alert" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintAlertAsObXm80" nillable="true" type="tns:ArrayOfKeyValueOfintAlertAsObXm80" />
</xs:schema>